<footer class="site-footer">
    <div class="container">
        <span class="site-footer__brand">Guille Casasola</span>

        <ul class="site-footer__social">
            <li>
                <a class="btn-icon" href="http://instagram.com/guillecasasola" aria-label="Instagram" target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-instagram" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a class="btn-icon" href="https://www.linkedin.com/in/guille-casasola/" aria-label="Linkedin"
                    target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-linkedin" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
